body {
		background:lightblue;	
	
	
}


p {

		font-family:Georgia;
		font-style:italic; /* cursive */	

}

li {
	
		font-family:Georgia;
		font-style:italic;
		color:blue;


}


.container{
		
		height:20px;
		width:350px;
		margin: 50px auto 0px auto; /* top right bottom left */	
		background:yellow;
		z-index:1;
		
}


.bubble {
		
		position:relative; /* relative to container */
		width:350px;
		height:400px;
		background:red;
		box-shadow:10px 12px 8px rgba(0,0,0,0.5);
		border-radius:10px 10px 120px 5px;
		padding-top:30px;
		
				
	
	}
	
.menu ul li {
	
	font-family:Georgia;
	transform: rotate(-45deg);
	width:60px;
	float:left;
	padding:10px 10px 15px 18px;
	margin:-40px 0px;
	overflow:hidden;
	text-align:right;
	border-radius:20px 30px 30px;
	box-shadow:0px 0px 8px rgba(0,0,0,0.3);
	background:red;	
	padding-top:3px;
	
	
}	

.ribbon ul{
	
	background-color:red;	
}




